## .NET
bin/
obj/
publish/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg
*.snupkg
project.lock.json
.vs/

## NuGet
**/packages/
*.nuget.props
*.nuget.targets

## PowerShell
*.log

## OS
Thumbs.db
Desktop.ini
.DS_Store

## IDE
.idea/
.vscode/
*.swp
*.swo

## Build
TestResults/
coverage/
